.content p {
  min-height: 29vh;
}

.content h3 {
  height: 5vh;
}

/* * {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

